
.logo-container{
  margin-top: 20px;
  margin-left: 25px;
}

.login-page{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100vh;
}

.title-container{
    display: flex;
    width:65%;
    height: 100%;
    flex-direction: column;
    font-style: italic;
    font-weight: bold;
    margin-left: 40px;
    justify-content: space-between;
    overflow-y: hidden;
}

.sub-heading{
  font-style: normal;
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 24px;
  font-size: 25px;
  margin-top: 10px;

}

.heading1{
  color: orange;
}
.heading2{
  color: purple;
}

.heading-container>h1{
  font-weight: bold;
  font-size: 1.5rem;
}

.form-container-login{
    width:  35%;
    background-color: purple;
    text-align: center;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.heading-subheading-con{
  margin-bottom: 1rem;
}

#login-form{
  align-items: center;
  margin-top: 30px;
}

.mb-3{
    margin-left: 22%;
}

.mb{
  margin-left: 22%;
}

.heading-container{
    margin-left: 20px;
}
.heading-container >h1{
    font-size:77px;
    margin: 0;
}


#floatingInput{
  width: 75%;
}
#floatingPassword{
  width: 75%;
}

.form-title{
  color: white;
  margin-top: 50px;
  margin-bottom: 40px;
  text-decoration: underline;
  text-underline-offset: 12px;
}

.btn{
  margin-top: 20px;
}

.login-image{
  width: 95%;
  height: 50%;
}

  .submit-btn{
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: orange;
    color: white;
    width: 8rem;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    height: 2.5rem;
  }


.sub-para{
  color: white;

}

.signup-link{
  color: white;
}

.form-image{
  width: 100%;
  height: 13.2rem;
}

.vaild-details{
  display:flex;
  width: 100%;
  justify-content: space-around;
  margin: 0px;
  color: rgb(224, 6, 6);
  z-index: 1;
}








@media screen and (max-width: 935px) {
  .login-page {
    flex-direction: column;
  }
  .title-container{
    margin-left: 0;
    width: 100%;
    height: fit-content;
    overflow:visible;
    align-items: center;
  }
  .form-container-login{
    width: 100%;
    overflow: visible;
  }

  .login-image{
    display: none;
  }
  .sub-heading{
    margin: 0px;
    font-size: smaller;
  }
  .logo-container{
    margin: 30px 20px;
  }
  .heading-container>h1{
    font-size: 25px;
    margin: 0;
  }

  .heading-container{
    margin: 0;

  }

  .title-container{
    display: flex;
    flex-direction: row;
  }

  .heading-subheading-con{
    margin: 30px 20px;
  }
  .form-image{
    display: none;
  }
  
}