

.stops-container{
    overflow-y: scroll;
    height: 150px;
    width: 84%;
    
}


.stops-container::-webkit-scrollbar{
    margin-left: 10px;
    width: 5px;    
  }

.stops-container::-webkit-scrollbar-thumb {
    background-color: rgb(222, 220, 220); 
    border-radius: 20px;       
}


.offerride-form-container{
    display: flex;
    position: absolute;
    flex-direction: row;
}

.offerride-form1{
    width: 350px;
    margin: 1px 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    border-radius: 1%;
    z-index: 2;
    background-color: white;
    
}

.offerride-form2{
    width: 350px;
    margin: 1px 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    border-radius: 1%;
    z-index: 2;
    background-color: white;
}


.offerride-heading>p{
    font-size: 12px;
    color: grey;
    font-weight: normal;
}
.offerride-form2>p{
    font-size: 12px;
    color: grey;
    font-weight: normal;
}
.offerride-form1>label{
    font-size: 12px;
    color: grey;
    font-weight: bold;
}

.offerride1-input-container{
    display: flex;
    flex-direction: row;
}

.offerride-heading>h2{
    font-size: 25px;
    font-weight:550;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


input, label{
    display: block;
}

.input-offerride{
    width: 100%;
    border: 0px ;
    border-bottom: 1px solid black;
    margin-bottom: 7px;
}

.input-offerride:focus{
    outline: none;
    border-bottom: 2px solid rgb(0, 112, 223) ;
}

.nxt-btn{
    color: purple;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    border-radius: 20px;
    margin-left: 230px;
}

.nxt-btn:hover{
    background-color: purple;
    color: white;
}

.form-control{
    border: 0px;
}


.seat-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
}

.seat-option{
    margin: 8px;
    border: 1px solid rgb(110, 9, 123);
    font-size: small;
    display:flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.seat-container>label> input[name="availableSeats"]{
    display: none;
}

:checked + span {
    background-color: rgb(138, 28, 138);
    color: white;
}

.seatsprice-div{
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.seats-div{
    width: 190%;
    margin-left: 10px; ;
}

.stops >label{
    font-size: 12px;
    color: grey;
    font-weight: bold;
}

.seats-div >.title{
    font-size: 12px;
    color: grey;
    font-weight: bold;
}

.price-div{
    margin-left: 20px;
}

.price-div>label{
    font-size: 12px;
    color: grey;
    font-weight: bold;
}

.price-div>.input-offerride{
    width: 70%;
    font-size:xx-large;
    font-weight: bold;
}

.submit-btn:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.offerride-page{
    height: 100vh;
    background-image: url("../assets/img4.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom; 
    min-height: 660px;   
}


.offerride1-icons{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: center;
    margin-left: 7px;
    margin-top: 18px;
}

.offerride1-icons>.list-group-item{
    margin: 0;
    padding: 0;
    height: 18px;
}
.offerride2-icons>.list-group-item{
    margin: 0;
    padding: 0;
    height: 16px;
}

.offerride1-inputs{
    width: 87%;
}

.offerride2-inputs-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.offerride2-icons{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    align-items: center;
    margin-left: 16px;
}

.offerride2-icon-container{
    margin-bottom: 6px;

}

.offerride-form-header{
    display: flex;
    flex-direction: row;
}










  .checkbox-wrapper-22 .switch {
    display: inline-block;
    height: 27px;
    position: relative;
    width: 56px;
  }

  .checkbox-wrapper-22 .switch input {
    display:none;
  }

  .checkbox-wrapper-22 .slider {
    background-color: orange;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .checkbox-wrapper-22 .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 22px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 22px;
  }

  .checkbox-wrapper-22 input:checked + .slider {
    background-color: purple;
  }

  .checkbox-wrapper-22 input:checked + .slider:before {
    transform: translateX(26px);
  }

  .checkbox-wrapper-22 .slider.round {
    border-radius: 34px;
  }

  .checkbox-wrapper-22 .slider.round:before {
    border-radius: 50%;
  }

  .checkbox-wrapper-22{
    margin-left: 70px;
  }


  @media screen and (max-width:910px ) {

    .offerride-form-container{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .offerride-form1{
        margin: 0;
    }

    .offerride-form2{
        margin: 0;
        margin-top: 50px;
    }

    .form-control{
        padding: 0;
    }

    .offerride-form-header{
        justify-content: space-between;
    }
    .offerride-page{
        height: 0px;
        background-image: none;
    }
  }